# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/


# Jupyter Notebook
.ipynb_checkpoints/


# Machine Learning Models
*.pkl
*.joblib
*.sav

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# PyCharm
.idea/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Build / Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Temporary Files
*.tmp
*.temp

# CatBoost
catboost_info/